.module-container {
  padding-top: 150px;
}

.main-content-transition {
  transition: margin-right 0.3s ease;
}

.main-content-shifted {
  margin-right: 260px; /* same width as your offcanvas */
}

[id] {
  scroll-margin-top: 190px;
}

a[href^="#"] {
  text-decoration: none;  
  color: lightskyblue;
}

a[href^="#"]:hover {
  color: blue;                 
}

body {
  font-family: 'Inter', sans-serif;
  padding: 0px 150px; 
  gap: 25px;
  overflow: auto !important;
}

h1 {
  color: #000;
  font-family: Inter;
  font-size: 47px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  color: #000;
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

ul, li, p {
  color: #000;
  font-family: Inter;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.module-container-flex {
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  gap: 40px;
  padding: 40px 60px; 
  width: 100%;
  box-sizing: border-box;
}

.module-list h2 {
  color: #000;
  font-family: Inter;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.module-list li {
  color: #181B1A;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.module-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; 
  height: auto;
}

.progressBar {
  position: fixed;
  height: 22px; 
  z-index: 100;
}
